{% load staticfiles %}
<html>
    <head>
       <title>凡人修仙传（忘语著仙侠题材网络小说）_百度百科</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    </head>
    <body background="http://fangyuan.shop.chuangyimao.com/uploads/shop/22/news/201411/141106035750b29fe498d3.jpg" height = 100 weight = 100">
       <div class="page-header">
           <h1><a href = "">Lobster just work to Enjlish characters</a></h1>
       </div>
       <div class="content container">
           <div class="row">
               <div class="col-md-13">
                   {% block content %}
                   {% endblock %}
               </div>
           </div>
       </div>
    </body>
</html>