<html>
    <head>
       <title>凡人修仙传（忘语著仙侠题材网络小说）_百度百科</title>
    </head>
    <body background="http://ppt.downhot.com/d/file/p/2013/05/21/03720eceb5f89e394c1c088b4823dc0f.jpg" height = 100 weight = 100">
       <img src="http://ppt.downhot.com/d/file/p/2013/05/21/03720eceb5f89e394c1c088b4823dc0f.jpg" height = 100 weight = 100 alt = '蓝色'>
       <div>
           <h1><a href = "">Django Girls Blog</a></h1>
       </div>
       <div>
           <p>published: 17.02.2017,12:14</p>
           <h2><a href = "">My first post</a></h2>
           <p>随便打的东西，看成一段乱码就好</p>
       </div>
       <div>
           <p>published: 17.02.2017, 12:14</p>
           <h2><a href = ''>My second post</a></h2>
           <p>随便打的东西，看成另一段乱码就好，随便脑补吧</p>
           <ul>
               <li>first list</li>
               <li>second list</li>
           </ul>
       </div>
       <div>
           <dir>
               <p>只说是清单试试段落能不能加入</p>
               <li>毕竟是清单还是加条条目吧</li>
           </dir>
           <p>Hi there!</p>
           <hr width=80% size=3 align=center>
           <dl>
               <dt>说明式清单</dt>
               <dd>另一种格式？</dd>
               <dd>只是缩进与否的差别么？</dd>
           </dl>
           <ol type = A start = 2>
               <li>顺序清单是啥？</li>
               <li>什么是顺序清单</li>
           </ol>
           <p>It works!</p>
       </div>
    </body>
    <body>
        <p>再加一个body又会怎样？</p>
        <table border=3 align="center" bgcolor="#f5f5dc" backgroung="http://img1.3lian.com/img2011/w1/105/21/d/51.jpg">
            <caption>据说是标题，加点什么好？</caption>
            <th>标题存储格表格第一列</th>
            <tr><td width=30 height=30 align=center valign=center></td></tr>
        </table>
    </body>
</html>